<div class="tracking-options">
  <div class="tracking-options__label" style="display:none">
    {{ element }}
    <label for="edit-options-checkbox" class="tracking-options__status tracking-options__status--active option" style="display:none">
      {{ 'Currently your visit to this website <strong>is being anonymously tracked</strong> by our Web Analytics Tool. Uncheck this box to stop being tracked.'|t }}
    </label>
    <label for="edit-options-checkbox" class="tracking-options__status tracking-options__status--inactive option" style="display:none">
      {{ 'Currently your visit to this website <strong>is not being tracked</strong> by our Web Analytics Tool. Check this box to activate anonymous tracking and help us improve our website.'|t }}
    </label>
  </div>
  <span class="tracking-options__dnt" style="display:none">
    {{ 'You have activated the <em>Do Not Track</em> option in your browser settings. This setting is being respected by our Web Analytics Tool on our website. There’s no need for you to opt-out of this website’s data tracking.'|t }}
  </span>
  <span class="tracking-options__oldie" style="display:none">
    {{ 'Your browser appears to be too old to support this feature. For more privacy control please update your browser.'|t }}
  </span>
  <noscript>
    {{ 'It appears you have deactived Javascript in your browser. This feature is only available with Javascript turned on. If you don’t want your data to be collected, you can still turn on <em>Do Not Track</em> in your browser which is a general setting and is being respected by our tracking installation.'|t }}
  </noscript>
</div>

